@mixin flexbox($direction: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box($background){
    @include flexbox($direction: column);
    background: $background;
    border-radius: 1rem;
    height: 100px;
    width: 33.33%;

    &__value {
        font-size: $big-font-size;
        font-weight: $font-bold;
    }

    &__name {
        font-size: $normal-font-size;
        font-weight: $font-light;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }
}

@mixin countryBox() {
    @include flexbox($direction: column);

        &__value {
            font-size: $big-font-size;
            font-weight: $font-bold;
        }
        
        &__name {
            font-size: $normal-font-size;
            font-weight: $font-light;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }
}