@mixin flexbox($direction: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box($background){
    @include flexbox($direction: column);
    background: $background;
    border-radius: 1rem;
    height: 100px;
    width: 33.33%;

    &__value {
        font-size: $big-font-size;
        font-weight: $font-bold;
    }

    &__name {
        font-size: $normal-font-size;
        font-weight: $font-light;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    @media screen and (max-width: $smaller-screen) {
        & {
            width: 90%;
        }

        &__value {
            font-size: $small-font-size;
        }
    
        &__name {
            font-size: $extra-smaller-font-size;
        }
    }

    @media screen and (min-width: $smaller-screen2) {
        & {
            width: 95%;
        }

        &__value {
            font-size: $normal-font-size;
        }
    
        &__name {
            font-size: $smaller-font-size;
        }
    }

    @media screen and (min-width: $small-screen) {
        & {
            width: 100%;
        }

        &__value {
            font-size: $medium-font-size;
        }
    
        &__name {
            font-size: $small-font-size;
        }
    }

    @media screen and (min-width: $medium-screen) {
        &__value {
            font-size: $medium-font-size;
        }
    
        &__name {
            font-size: $small-font-size;
        }
    }

    @media screen and (min-width: $large-screen) {
        &__value {
            font-size: $big-font-size;
        }
    
        &__name {
            font-size: $normal-font-size;
        }
    }

    @media screen and (min-width: $extra-large-screen) {
        &__value {
            font-size: $big-font-size;
        }
    
        &__name {
            font-size: $normal-font-size;
        }
    }
}

@mixin countryBox() {
    @include flexbox($direction: column);

        &__value {
            font-size: $big-font-size;
            font-weight: $font-bold;
        }
        
        &__name {
            font-size: $normal-font-size;
            font-weight: $font-light;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }

        @media screen and (max-width: $smaller-screen) {   
            &__value {
                font-size: $normal-font-size;
            }
        
            &__name {
                font-size: $smaller-font-size;
            }
        }
    
        @media screen and (min-width: $smaller-screen2) {    
            &__value {
                font-size: $medium-font-size;
            }
        
            &__name {
                font-size: $small-font-size;
            }
        }
    
        @media screen and (min-width: $small-screen) {
            &__value {
                font-size: $medium-font-size;
            }
        
            &__name {
                font-size: $normal-font-size;
            }
        }
    
        @media screen and (min-width: $medium-screen) {
            &__value {
                font-size: $medium-font-size;
            }
        
            &__name {
                font-size: $small-font-size;
            }
        }
    
        @media screen and (min-width: $large-screen) {
            &__value {
                font-size: $big-font-size;
            }
        
            &__name {
                font-size: $normal-font-size;
            }
        }
    
        @media screen and (min-width: $extra-large-screen) {
            &__value {
                font-size: $big-font-size;
            }
        
            &__name {
                font-size: $normal-font-size;
            }
        }
}