// Screens
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

// Color
$white: #ffff;
$black: #000;
// $second-color: #1e272e;
$first-color: #F3DE8A;
$second-color: #272838;
$third-color: #f5cd30;


//Typography
$mega-font-size: 3.5rem;
$bigger-font-size: 2.5rem;
$big-font-size: 1.8rem;
$mediumer-font-size: 1.5rem;
$medium-font-size: 1.3rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-lighter: 400;

$radius: 0.5rem;
$shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);