// Screens
$smaller-screen: 400px;
$smaller-screen2: 401px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

// Color
$white: #ffff;
$black: #000;

$light-color: rgb(244, 246, 248);
$light-text-color: rgb(33, 43, 54);
$dark-color: rgb(25, 33, 42);
$dark-text-color: rgb(255, 255, 255);

$third-color: #3C4856;

$box1-background: linear-gradient(
    85.21deg, rgb(221, 107, 32) 0%, rgb(246, 173, 85) 100%);
$box2-background: linear-gradient(
    71.78deg, rgb(49, 151, 149) 0%, rgb(129, 230, 217) 99.11%);
$box3-background: linear-gradient(
    69.82deg, rgb(130, 39, 39) 0%, rgb(245, 101, 101) 100%);
$box4-background: linear-gradient(
    29.55deg, rgb(130, 39, 39) 0%, rgb(237, 100, 166) 100%);


//Typography
$mega-font-size: 3.5rem;
$bigger-font-size: 2.5rem;
$big-font-size: 1.8rem;
$mediumer-font-size: 1.5rem;
$medium-font-size: 1.3rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
$extra-smaller-font-size: .65rem;

$font-black: 900;
$font-extra-bold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-lighter: 400;
$font-light: 300;
$font-extra-light: 200;
$font-thin: 100;

$radius: 0.5rem;
$shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);