@import '../Helpers/mixins';
@import '../Helpers/variables';

.countryBox {
    @include flexbox($direction: row, $justify: space-around);
    background: $box4-background;
    width: 900px;
    height: 100px;
    border-radius: $radius;
    color: $white;

    &__information {
        @include flexbox($direction: column);

        &__update {
            text-transform: capitalize;
            font-size: $bigger-font-size;
            font-weight: $font-bold;
        }
    
        &__time {
            font-size: $smaller-font-size;
            font-weight: $font-light;
            text-transform: uppercase;
        }
    }

    &__confirmed {
        @include countryBox();
    }

    &__recovered {
        @include countryBox();
    }

    &__deaths {
        @include countryBox();
    }

    @media screen and (max-width: $smaller-screen) {
        & {
            @include flexbox($direction: column, $justify: space-around);
            width: 280px;
            height: 400px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $normal-font-size;
            }
        
            &__time {
                font-size: $extra-smaller-font-size;
            }
        }
    }

    @media screen and (min-width: $smaller-screen2) {
        & {
            @include flexbox($direction: column, $justify: space-around);
            width: 320px;
            height: 400px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $medium-font-size;
            }
        
            &__time {
                font-size: $extra-smaller-font-size;
            }
        }
    }

    @media screen and (min-width: $small-screen) {
        & {
            @include flexbox($direction: column, $justify: space-around);
            width: 530px;
            height: 400px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $big-font-size;
            }
        
            &__time {
                font-size: $smaller-font-size;
            }
        }
    }

    @media screen and (min-width: $medium-screen) {
        & {
            @include flexbox($direction: row, $justify: space-around);
            width: 700px;
            height: 100px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $big-font-size;
            }
        
            &__time {
                font-size: $smaller-font-size;
            }
        }
    }

    @media screen and (min-width: $large-screen) {
        & {
            @include flexbox($direction: row, $justify: space-around);
            width: 900px;
            height: 100px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $big-font-size;
            }
        
            &__time {
                font-size: $smaller-font-size;
            }
        }
    }

    @media screen and (min-width: $extra-large-screen) {
        & {
            @include flexbox($direction: row, $justify: space-around);
            width: 1000px;
            height: 100px;
        }
    
        &__information {
            @include flexbox($direction: column);
    
            &__update {
                font-size: $big-font-size;
            }
        
            &__time {
                font-size: $smaller-font-size;
            }
        }
    }
}