@import '../Helpers/_variables.scss';

.countries {
    margin-top: 20px;
    width: 200px;
    border-radius: $radius;
    padding: 4px;

    &:focus {
        min-width: 200px;
        width: auto;
    }
}

