@import '../Helpers/mixins';
@import '../Helpers/variables';

.information {
    @include flexbox($direction: column);

    &__title {
        font-weight: $font-bold;
        font-size: $bigger-font-size;
    }

    &__time {
        margin-top: -40px;
        font-size: $small-font-size;
        font-weight: $font-lighter;
    }
}