@import './sass/base/typography';
@import './sass/Helpers/mixins';
@import './sass/Helpers/variables';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include flexbox();
  background-color: $first-color;
  font-family: 'Poppins', sans-serif;
  color: $second-color;
}
